.product-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-image: url('../../assets/about-bg.jpg');
  padding: 5% 0 10% 0;
}

.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 20px;
}

.product-container h1 {
    margin-top: -20px;
    font-size: 48px;
    font-family: "Playfair Display";
    text-transform: uppercase;
}

.products-grid {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 300px;
    height: 400px;
}

.product-image {
    transition: transform 0.3s;
}

.product-image:hover {
    transform: rotate(15deg);
}

.product-card h2 {
    font-size: 24px;
    font-family: "Nunito Sans";
    font-weight: 800;
    text-transform: uppercase;
}

.product-button {
    background-color: var(--brown);
    color: var(--beige);
    font-family: "Montserrat";
    font-size: 21px;
    text-wrap: nowrap;
    border-radius: 20px;
    padding: 15px 30px;
    font-weight: 800;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.product-button:hover {
    background-color: #d4a017;
    color: #352320;
    cursor: pointer;
    font-weight: 800;
    transition: all 0.3s ease-in-out;
    transform: scale(1.02);
  
}