.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  position: relative;
  padding: 1% 15% 20px;
  background-color: var(--white);
}

.about-title {
  font-size: 48px;
  font-weight: 600;
  font-family: "Bray Notes";
  letter-spacing: 6px;
  color: var(--brown);
  margin-bottom: 10px;
}

.about-text {
  font-size: 20px;
  font-weight: 500;
  font-family: "Montserrat";
  color: var(--brown);
  text-align: center;
  margin-bottom: 20px;
}

.insta-grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.insta-grid-container .button {
  margin-top: 10px;
  font-size: 32px;
  font-weight: 600;
  font-family: "QuickSand";
  color: var(--beige);
  background-color: var(--brown);
  border: 1px solid var(--brown);
  padding: 1% 1.5%;
  text-decoration: none;
  border-radius: 20px;
  transition: all 0.5s ease;
  box-shadow: 4px 4px 0px 1px var(--yellow);
}

.insta-grid-container .button:hover {
  background-color: var(--yellow);
  cursor: pointer;
  color: var(--brown);
  box-shadow: 4px 4px 0px 1px var(--brown);
  transition: all 0.5s ease;
}

.insta-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  z-index: 2;
}

.insta-card {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(53, 35, 32, 0.5);
  
  transition: all 0.3s ease;
}

.insta-card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.insta-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-vector {
  width: 100%;
  position: absolute;
  object-fit: cover;
  bottom: -50px;
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .about-section {
    padding: 10% 5% 20px;
  }

  .about-title {
    font-size: 32px;
    letter-spacing: 4px;
  }

  .about-text {
    font-size: 12px;
  }

  .insta-grid {
    gap: 5px;
  }

  .insta-grid-container .button {
    font-size: 24px;
  }

  .insta-card {
    height: auto;
  }

  .about-vector {
    bottom: -20px;
  }
  
}