.home-section {
  background-image: url("../../assets/home-bg.png");
  width: auto;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: start;
  align-items: center;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: start;
  margin-left: 6%;
  margin-top: 5%;
}

.home-title {
  font-size: 80px;
  color: var(--beige);
  font-weight: 600;
  font-family: "Helvetica";
  text-transform: uppercase;
  text-shadow: ;
  width: 35%;
  line-height: 70px;
}

.home-text {
  font-size: 1.5rem;
  color: white;
}

.cta-button {
  margin-top: 40px;
  background-color: #352320;
  color: #ebdccb;
  padding: 12px 20px;
  width: 15%;
  border: none;
  border-radius: 20px;
  font-size: 1.3rem;
  font-weight: 600;
  font-family: "Nunito Sans";
  transition: all 0.3s ease-in-out;
}

.cta-button:hover {
  background-color: #d4a017;
  color: #352320;
  cursor: pointer;
  font-weight: 800;
  transition: all 0.3s ease-in-out;
  transform: scale(1.02);
}
