.header {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px 200px;
  background-color: var(--yellow);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 100;
  transition: transform 0.5s ease-in-out;
}

.header.hidden {
  transform: translateY(-100%);
}

.header.visible {
  transform: translateY(0);
}

.logo img {
  width: 40%;
}

.nav-list {
  display: flex;
  gap: 30px;
  list-style: none;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.nav-list li {
  position: relative;
}

.nav-list a {
  text-decoration: none;
  color: var(--brown);
  position: relative;
}

.nav-list a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 2px;
  background-color: #352320;
  transition: width 0.3s ease;
}

.nav-list a:hover {
  color: var(--brown);
}

.nav-list a:hover::after {
  width: 100%;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--yellow);
  box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.5);
  padding: 10px 0;
  list-style: none;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease;
}

.nav-list li:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.dropdown-menu li {
  margin: 0;
  padding: 5px 20px;
  white-space: nowrap;
}

.dropdown-menu a {
  color: var(--brown);
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
}

.dropdown-menu a:hover {
  color: #352320;
}

.arrow {
  margin-left: 5px;
  display: inline-block;
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.hamburger span {
  width: 30px;
  height: 3px;
  background-color: var(--brown);
  border-radius: 5px;
  transition: all 0.5s ease;
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.hamburger.active span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

.mobile-menu {
  display: none;
  flex-direction: column;
  background-color: var(--yellow);
  position: absolute;
  font-family: "Roboto";
  top: 95%;
  left: 0;
  width: 100%;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 999;
  transition: all 0.3s ease;
}

.mobile-menu.active {
  display: flex;
  transition: all 0.3s ease;
}

.nav-list-mobile {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list-mobile li {
  padding: 15px 0;
  border-bottom: 1px solid var(--brown);
}

.nav-list-mobile a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: var(--brown);
}

.dropdown-toggle-mobile {
  display: none;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

.dropdown-menu-mobile {
  list-style: none;
  padding: 10px 20px;
  margin: 5px 0;
  background-color: var(--yellow);
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-menu-mobile li {
  padding: 5px 0;
}

.dropdown-menu-mobile a {
  font-size: 18px;
  color: var(--brown);
}

.dropdown-menu-mobile a:hover {
  color: var(--beige);
}

@media screen and (max-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .hamburger {
    display: flex;
  }
  .header {
    padding: 10px 20px;
  }

  .logo {
    width: 25%;
  }
}

@media screen and (max-width: 480px) {
  .dropdown-toggle-mobile {
    display: flex;
  }

  .nav-list {
    display: none;
  }

  .header {
    padding: 10px 10px;
  }

  .logo {
    width: 45%;
  }
}
