/* Pages.css */
.page-container {
    overflow-x: hidden;
    position: relative;
  }
  
  .page-container > * {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  