.footer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--yellow);
  border-top: 1px solid black;
  bottom: 0;
  position: relative;
  height: 40vh;
  gap: 100px;
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 20%;
}

.footer-logo {
  width: 100px;
  margin-bottom: 10px;
}

.footer-left p {
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: 500;
  text-align: start;
}

.footer-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 100px;
  font-size: 1.1rem;
}

.footer-center h2 {
    font-weight: 600;
    font-family: "Montserrat";
}

.footer-center p {
    font-family: "Nunito Sans";
  
}

.footer-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .footer-left {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .footer-center {
    flex-direction: column;
    gap: 20px;
  }

  .footer-right {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
}