.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
  position: relative;
  height: 60vh;
}

.footer-vector {
  width: 100%;
  position: absolute;
    bottom: 0;
    left: 0;
}