.blog-section {
  background-color: var(--white);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blog-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 1400px;
  margin: 7% auto 0;
}

.blog-card {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.blog-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.blog-card-image {
  position: relative;
  overflow: hidden;
  height: 450px;
}

.blog-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.blog-card:hover .blog-card-image img {
  transform: scale(1.1); /* Parallax effect */
}

.blog-card-content {
  padding: 15px;
}

.blog-card-content h3 {
  font-family: "Quicksand";
  font-size: 1.2rem;
  margin: 0 0 10px;
}

.blog-card-content p {
  font-family: Roboto;
  font-size: 1rem;
  color: #555;
  margin: 0;
}

.blog-card-content button {
  background: none;
  color: var(--brown);
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  font-family: Montserrat;
  margin-top: 10px;
  position: relative;
}

.blog-card-content button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 1px;
  background-color: var(--brown);
  transition: width 0.3s ease;
}

.blog-card-content button:hover {
  color: var(--brown);
}

.blog-card-content button:hover::after {
  width: 100%;
}

.ad-banner {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 40px 0 0;
  position: relative;
}


/* Responsive Design */
@media (max-width: 768px) {
  .blog-section {
    padding: 100px 10px 0;
  }

  .blog-container {
    grid-template-columns: 1fr;
  }

  .blog-card-image {
    height: 250px;
  }

}
