/* PlayFiar Display */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* Nunito Sans */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@font-face {
    font-family: 'Bray Notes';
    src: url('./assets/fonts/Bray-Notes.ttf') format('truetype');
}

@font-face {
    font-family: 'Thrive Woods';
    src: url('./assets/fonts/ThriveWoods.ttf') format('truetype');
}

@font-face {
    font-family: "QuickSand";
    src: url('./assets/fonts/Quicksand_Bold.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
  }


::-webkit-scrollbar {
    display: none;
}

:root {
    --yellow: #d4a017;
    --brown: #352320;
    --beige: #ebdccb;
    --black: #333;
    --green: #6b8e23;
    --white: #f5f0e1;
}